.login-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.login-column,
.register-column {
  flex: 1;
  min-width: 300px;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-column h2,
.register-column h2 {
  font-size: 1.8rem;
  color: var(--primary-color-dark);
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--letter-color);
}

.form-control {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-primary {
  background-color: var(--primary-color-dark);
  color: white;
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: black;
}

/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  
  .login-column,
  .register-column {
    width: 100%;
  }
}
