@font-face {
  font-family: "cera";
  src: url("/public/fonts/Fontspring-DEMO-ceraroundpro-medium.otf");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "cera";
  background: #ffffff;
}

button {
  cursor: pointer;
}